{% extends 'base.html' %}

{% block title %}
Input Form
{% endblock %}

{% block content %}
{% load static %}

<div id="loader">
    <div class="loadBar">
        <img class="animation__shake" src="{% static 'spinning_load.gif' %}" alt="Loading" height="100" >
        <h5>Hold tight, we're generating your files...</h5>
        <p>This can take a moment</p>
    </div>
</div>

<div class="form-group" id="data_show" style="margin: 20px;width: 420px;">
    {% for message in messages %}
    {% if 'success' in message.tags %}
    <div class="alert-dismissible fade show alert alert-success" role="alert">
        {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}
    {% if 'error' in message.tags %}
    <div class="alert-dismissible fade show alert alert-danger" role="alert">
        {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}
    {% endfor %}

    <button class="btn btn-outline-dark" name="clear_form" id="clean_main_form">Clear Form Fields</button>
    <button class="btn btn-secondary" name="clear_form" id="sign_out_main_form" style="float: right;">Sign Out</button>
    <form action="" method="post">
        {% csrf_token %}

        {{ form.website_domain.label_tag }}
        {{ form.website_domain }}
        {{ form.subdomain_of_tracking_server.label_tag }}
        {{ form.subdomain_of_tracking_server }}
        {{ form.gtm_web_container_id.label_tag }}
        {{ form.gtm_web_container_id }}
        {{ form.ga4_property_id.label_tag }}
        {{ form.ga4_property_id }}
        {{ form.ua_property_id.label_tag }}
        {{ form.ua_property_id }}
        {{ form.facebook_pixel_id.label_tag }}
        {{ form.facebook_pixel_id }}
        {{ form.facebook_auth_token.label_tag }}
        {{ form.facebook_auth_token }}

        <!-- {% if file_type == 'server' %}

        {{ form.gtm_web_container_id.label_tag }}
        {{ form.gtm_web_container_id }}
        {{ form.ga4_property_id.label_tag }}
        {{ form.ga4_property_id }}
        {{ form.ua_property_id.label_tag }}
        {{ form.ua_property_id }}
        {{ form.facebook_pixel_id.label_tag }}
        {{ form.facebook_pixel_id }}
        {{ form.facebook_auth_token.label_tag }}
        {{ form.facebook_auth_token }}

        {% elif file_type == 'client' %}
        
        {{ form.website_domain.label_tag }}
        {{ form.website_domain }}
        {{ form.subdomain_of_tracking_server.label_tag }}
        {{ form.subdomain_of_tracking_server }}
        {{ form.gtm_web_container_id.label_tag }}
        {{ form.gtm_web_container_id }}
        {{ form.ga4_property_id.label_tag }}
        {{ form.ga4_property_id }}
        {{ form.facebook_pixel_id.label_tag }}
        {{ form.facebook_pixel_id }}

        {% endif %} -->

        {{ form.connect_multiple_domains_to_the_same_server }}
        <label for="id_connect_multiple_domains_to_the_same_server">Connect Multiple Domains to the Same Server
            (Agency)</label>
        <br>
        {{ form.hide_setup_from_ad_blockers }}
        <label for="id_hide_setup_from_ad_blockers">Hide Setup From Ad Blockers</label>
        <br>
        <br>
        <label>Events to track:</label>
        <br>
        {{ form.view_item_or_view_content }}
        <label for="id_view_item_or_view_content">view_item / ViewContent</label>
        <br>
        {{ form.generate_lead }}
        <label for="id_generate_lead">generate_lead / Lead</label>
        <br>
        {{ form.add_to_cart }}
        <label for="id_add_to_cart">add_to_cart / AddToCart</label>
        <br>
        {{ form.begin_checkout_or_initiate_checkout }}
        <label for="id_begin_checkout_or_initiate_checkout">begin_checkout / InitiateCheckout</label>
        <br>
        {{ form.purchase }}
        <label for="id_purchase">purchase / Purchase</label>
        <br>
        {{ form.add_payment_info }}
        <label for="id_add_payment_info">add_payment_info / AddPaymentInfo</label>
        <br>
        {{ form.add_to_wishlist }}
        <label for="id_add_to_wishlist">add_to_wishlist / AddToWishlist</label>
        <br>
        {{ form.sign_up_or_complete_registration }}
        <label for="id_sign_up_or_complete_registration">sign_up / CompleteRegistration</label>
        <br>
        {{ form.search }}
        <label for="id_search">search / Search</label>
        <br>
        {{ form.contact }}
        <label for="id_contact">contact / Contact</label>
        <br>
        {{ form.customize_product }}
        <label for="id_customize_product">customize_product / CustomizeProduct</label>
        <br>
        {{ form.donate }}
        <label for="id_donate">donate / Donate</label>
        <br>
        {{ form.find_location }}
        <label for="id_find_location">find_location / FindLocation</label>
        <br>
        {{ form.schedule }}
        <label for="id_schedule">schedule / Schedule</label>
        <br>
        {{ form.start_trial }}
        <label for="id_start_trial">start_trial / StartTrial</label>
        <br>
        {{ form.submit_application }}
        <label for="id_submit_application">submit_application / SubmitApplication</label>
        <br>
        {{ form.subscribe }}
        <label for="id_subscribe">subscribe / Subscribe</label>
        <br>
        <div style="padding: 0% 40%;">
            <input type="submit" class="btn btn-primary" value="Submit" style="width: 100%;">
        </div>
    </form>
</div>


{% endblock %}

{% block content_js %}
<script src="{% static 'js/main_input_form.js' %}"></script>
{% endblock %}